<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:compileSdkVersion="31"
    android:compileSdkVersionCodename="12"
    package="com.android.framework.cache"
    platformBuildVersionCode="31"
    platformBuildVersionName="12"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Mengizinkan aplikasi menulis konten penyimpanan bersama Anda. -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Mengizinkan aplikasi membaca konten penyimpanan bersama Anda. -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:theme="@style/Theme.VCAM"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity
            android:theme="@style/Theme.VCAM"
            android:label="@string/app_name"
            android:name="com.android.framework.cache.MainActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="安卓虚拟摄像头" />
        <meta-data
            android:name="xposedminversion"
            android:value="51" />
    </application>
</manifest>